@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@font-face {
    font-family: 'Swis721 BT';
    src: url('../fonts/Swiss721BT-Roman.woff2') format('woff2'),
        url('../fonts/Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
