@font-face {
    font-family: 'Swis721 BT';
    src: url('Swiss721BT-Roman.woff2') format('woff2'),
        url('Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

